@model IEnumerable<Proyecto1_BD.Models.User>
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>DeleteUser</h2>
<div>
    <h4>User Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="MenuUser">Back</a>
    </form>
</div>

