@model IEnumerable<Proyecto1_BD.Models.User>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Details</h2>
<div>
    <h4>User Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="MenuUser">Back to list</a>
</div>
